<div [ngClass]="{swap_sections_order: layoutConfig.swap_sections, swap_sides_order: layoutConfig.swap_sides}"
     class="blitz_main_cnt">

  <!--Logo area-->
  <div class="logo_cnt">
    <ion-img class="logo" src="assets/app_logo_trans.png"></ion-img>
  </div>

  <div class="info_cnt">

    <div class="app_name">
      <div></div>
    </div>

    <div class="counts_cnt">
      <div class="white_count"> {{whiteCount}} </div>
      <div class="divider"> ---</div>
      <div class="black_count"> {{blackCount}} </div>
    </div>

  </div>


</div>
