clock-templates {

  .scroll-content {
    background-color: lightgray;
  }

  .card-header {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;
  }

  .stage {
    font-size: 16px;
    font-weight: 500;
  }

  .manual-cnt {
    background: #ffde6a;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .opt {
    font-weight: 500;
  }

}
