<ion-header class="app_nav_header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      PID
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="description">
    Use PID to assign a permanent ID to your tablets. In the admin panel, the PID can be linked to the PIN for your
    tournament. When PID is used, the app will automatic try to connect to the tournament PIN associated with the PID.
  </div>

  <!--Spinner-->
  <spinner [message]="'Fetching device PID'" [visible]="loadingData"></spinner>

  <!--  Content-->
  <div *ngIf="!loadingData">

    <!-- Tablet current PID-->
    <div *ngIf="!showPidInput && pid" class="tablet-pid">
      <div> Tablet has PID code </div>
      <button (click)="onChangePidClick()" ion-button> Change</button>
      <button (click)="onDeletePidClick()" color="danger" ion-button> Delete</button>
    </div>

    <!-- PID input section-->
    <div *ngIf="showPidInput" class="pid-container">

      <div class="pid-input-cnt">
        <form [formGroup]="form">
          <ion-item>
            <ion-label floating> PID code</ion-label>
            <ion-input blockCopyPaste #pidInput formControlName="pid"
                       [type]="viewPID ? 'text' : 'password'"></ion-input>
          </ion-item>
          <small class="info-message"> Must have a minimum of 6 characters and at least one non digit character. Cannot
            have special characters
          </small>
        </form>
        <ion-icon [name]="viewPID ? 'md-eye-off' : 'md-eye'" (click)="onTogglePidVisibility()"></ion-icon>
      </div>

      <div class="btns-container">
        <button [disabled]="!form.valid" ion-button (click)="onPidSaveClick()"> Save</button>
        <button (click)="onChangeCancelClick()" *ngIf="pid" color="danger" ion-button> Cancel</button>
      </div>

    </div>

  </div>

</ion-content>


