game-help {

  .scroll-content {
   background-color: whitesmoke;
  }

  ion-card {
    margin-bottom: 1.5em !important;
  }

  ion-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;

  }



}
