game-form-tools {

  .sub_title {
    text-decoration: underline;
    padding: 10px 5px 5px 10px;
  }

  .info_cnt {
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;

    .data_cnt {
      padding: 10px 30px 15px 30px;
    }
  }


}
